body {
    background: url(Picture/concrete_seamless.webp);
    margin: 0;

}

div,
a,
h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.A {
    background-color: white;
    border: solid 1px;
    border-color: rgba(128, 128, 128, 0.616);
    width: 500px;
    margin: 190px;
    padding: 30px;
    float: left;
    display: inline-block;
}

.A>img {
    width: 200px;
    float: left;
    margin-right: 15px;
    height: 150px;
}

h1 {
    color: #4aaaa5;
    border-bottom: #ddd solid 2px;
}

p {
    font-size: 20px;
    color: gray;
}

.logo {
    font-size: 30px;
    background-color: #4aaaa5;
    display: inline;
    padding: 49px 49px 37px 49px;
    margin: 200px;
    color: #fff;
    line-height: 3;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    border: solid 2px;
    border-color: rgba(128, 128, 128, 0.481);
    width: 100%;
    height: 100px;
    background-color: #fff;
}


nav {
    float: right;
    font-size: 20px;
    padding-right: 300px;

}

a {
    text-decoration: none;
    padding: 10px;
    color: #999;
    padding-right: 4px;
    line-height: 5;
}

a+a::before {
    content: "|";
    color: #dddddd81;
}

.B {
    border: solid 1px #999;
    background-color: #fff;
    padding: 30px;
    display: inline-block;
    float: left;
    margin: 190px -38px 30px -90px
}

h2 {
    border-bottom: #eee 1px solid;
    color: #4aaaa5;
    text-align: center;
}

img {
    width: 62px;
    height: 62px;
}

.B>a {
    padding-right: 0;
}

footer {
    background-color: #666;
    padding: 30px 0;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    color: #fff;
    clear: left;
}

ul {
    width: 100px;
    color: #999;
    font-size: 20px;
    list-style: none;
}

li {
    margin-bottom: 20px;
}

input {
    border: solid 1px #999999aa;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    width: 470px;
    height: 35px;
    font-size: 14px;
}

textarea {
    width: 470px;
    height: 200px;
    border: solid 1px #999999aa;
}

button {
    padding: 10px 30px;
    font-size: 14px;
    border: solid 0px;
    background-color: #4aaaa5;
    color: #fff;

}